body {
    background: rgb(103, 0, 85);
    background: linear-gradient(159deg, rgba(103, 0, 85, 1) 0%, rgba(118, 9, 121, 1) 35%, rgba(182, 8, 146, 1) 100%);
    color: white;
    font-family: Monospace
}

#topBar {
    position: fixed;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 8vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.navBtns {
    text-decoration: none;
    user-select: none;
    line-height: 8vh;
    text-align: center;
    font-size: 2vw;
    color: white;
    font-family: Monospace;
    width: 8vh;
    height: 8vh;
    background: radial-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    outline: none;
    border: none;
}

.navBtns:hover {
    background: radial-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0));
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: calc(100% - 16vh);
    font-size: 2vw;
    background: rgba(255, 255, 255, 0.2);
}

#mainContent {
    position: fixed;
    left: 2%;
    top: 12%;
    width: 96%;
    height: 85%;
    display: grid;
    grid-template-columns: 49%;
    grid-template-rows: 8% 92%;
    column-gap: 2%;
    row-gap: 2%;
    justify-items: stretch;
    align-items: center;
}

#windowTitle {
    line-height: 8vh;
    text-align: center;
    font-size: 1.5vw;
    grid-column: 1 / 3;
    height: 8vh;
    background: rgba(255, 255, 255, 0.2);
}

.window {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

#leftWindow {
    width: calc(100% - 4vw);
    max-width: calc(100% - 4vw);
    max-height: calc(100% - 4vw);
    height: calc(100% - 4vw);
    padding: 2vw;
    display: grid;
    grid-template-columns: 100%;
    font-size: 1vw;
    overflow-y: scroll
}

#textBlock {
    overflow-wrap: break-word;
    width: 100%;
}

#textBlock>h2 {
    width: 100%;
}

#textBlock>p {
    width: 100%;
}

#rightWindow {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    text-align: center;
    width: auto;
    max-height: 80%;
    max-width: 80%;
}

iframe {
    border-radius: 0.5vh
}

.bigIframe {
    width: 45vh;
    height: 30vh
}

#reflect {
    border: 10px white dashed;
}